<a href="https://colab.research.google.com/github/hansuja-yalavarthi/Project_131/blob/main/WP131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files = files.upload()

Saving possible.csv to possible (5).csv

In [ ]:
import csv
import pandas as pd

rows = []

with open("possible.csv",'r') as f:
    csvreader = csv.reader(f)
    for row in csvreader:
        rows.append(row)

headers = rows[0]
star_data = rows[1:]
print(headers)
print(star_data[0])

['', 'Star_name', 'Distance', 'Mass', 'Radius']
['0', 'Sun', '0.000015813', '1', '1']

In [ ]:
headers[0] = "row_num"
df = pd.read_csv("possible.csv")

In [ ]:
df['Distance'] = df['Distance'].str.replace(',','')
df['Radius'] = df['Radius'].str.replace(',','')
df['Distance'] = df['Distance'].astype(float)
df['Radius'] = df['Radius'].astype(float)

In [ ]:
solar_mass_list = df["Mass"].tolist()
solar_radius_list = df["Radius"].tolist()

solar_mass_list.pop(0)
solar_radius_list.pop(0)

1.0

In [ ]:
star_solar_mass_si_unit = []

for data in solar_mass_list:

    si_unit = float(data)*1.989e+30
    star_solar_mass_si_unit.append(si_unit)

print(star_solar_mass_si_unit)

[4.1769e+30, 2.9835e+31, 2.1879e+30, 2.1879e+30, 4.3758e+30, 5.1714e+30, 4.574699999999999e+31, 2.9835e+30, 3.978e+31, 1.33263e+31, 2.08845e+31, 3.5802e+30, 3.5801999999999996e+31, 2.9835e+30, 2.3868e+31, 2.2734269999999998e+31, 3.7790999999999997e+30, 3.7790999999999997e+30, 3.7791e+31, 3.1824e+31, 7.558199999999999e+30, 2.48625e+31, 2.88405e+31, 5.5692e+30, 2.9835e+30, 1.7105399999999998e+31, 9.945e+30, 6.9615e+30, 6.3648e+31, 1.7900999999999998e+31, 7.956e+30, 5.7681e+30, 6.5637e+31, 8.453249999999999e+30, 1.6906499999999999e+31, 3.3812999999999997e+31, 1.13373e+31, 6.9615e+30, 1.7900999999999998e+31, 1.2132899999999998e+31, 4.75371e+30, 1.3923e+31, 5.5692e+30, 1.17351e+31, 4.7735999999999997e+30, 2.68515e+31, 1.07406e+31, 5.967e+30, 4.1769e+30, 2.9835e+31, 5.5692e+30, 1.557387e+30, 1.9710989999999998e+30, 1.6309799999999997e+30, 3.978e+31, 1.989e+32, 8.950499999999999e+30, 3.8188799999999997e+31, 2.52603e+30, 4.3758e+31, 5.967e+31, 3.61998e+31, 1.3923e+30, 1.5912e+30, 3.16251e+30, 1.6906499999999997e+30, 1.51164e+30, 2.3867999999999998e+30, 2.76471e+31, 1.1933999999999999e+30, 9.945e+29, 3.978e+30, 1.5912e+30, 3.3812999999999997e+31, 1.989e+32, 4.7736e+31, 1.3923e+31, 2.7846e+29, 7.956e+28, 2.3868e+29, 2.84427e+30, 5.7680999999999994e+32, 3.75921e+32, 3.7791e+31, 1.1432771999999998e+32, 2.00889e+30, 3.1824e+29, 9.945e+31, 1.4917499999999999e+29, 3.978e+31, 1.7702099999999997e+29, 1.3923e+29, 5.967e+27, 6.5637e+31, 9.113642553599999e+28, 3.6074835108e+28, 1.49995367028e+29, 5.8858941492000005e+28, 1.02528478728e+29, 5.5061590427999995e+28, 7.974437234399999e+28, 7.974437234399999e+28, 4.3669537235999995e+28, 2.2784106383999997e+28, 7.594702128e+28, 5.5061590427999995e+28, 9.873112766399999e+28, 9.873112766399999e+28, 3.797351064e+28, 3.797351064e+28, 8.9237750004e+28, 8.9237750004e+28, 2.848013298e+28, 3.797351064e+28, 5.1264239364e+28, 6.265629255599999e+28, 1.48096691496e+29, 1.5189404256e+29, 1.2341390958e+29, 1.2341390958e+29, 1.5189404256e+29, 9.3035101068e+28, 1.67083446816e+29, 4.3669537235999995e+28, 8.544039894e+28, 3.4176159576e+28, 1.02528478728e+29, 1.3860331383599998e+29, 1.3860331383599998e+29, 1.40501989368e+29, 1.0442715426e+29, 1.93664904264e+29, 3.797351064e+28, 5.696026596e+28, 1.5189404256e+29, 1.8986755319999998e+29, 7.4048345748e+28, 9.113642553599999e+28, 4.1770861704e+28, 1.21515234048e+29, 1.974623508e+27, 1.21515234048e+29, 3.987218617199999e+28, 8.9237750004e+28, 1.2910993617600001e+29, 1.1581920745199998e+29, 5.3162914895999995e+28, 7.2149670216e+28, 1.0632582979199999e+29, 1.27211260644e+29, 1.4240066489999998e+29, 1.36704638304e+29, 4.9365563831999995e+28, 7.784569681199999e+28, 7.0250994684e+28, 8.1643047876e+28, 1.3480596277199998e+29, 3.816338058e+27, 8.3541723408e+28, 9.873112766399999e+28, 9.113642553599999e+28, 1.67083446816e+29, 8.733907447199999e+28, 1.1771788298400001e+29, 1.21515234048e+29, 1.46198015964e+29, 9.493377659999999e+28, 7.974437234399999e+28, 6.0757617024e+28, 9.3035101068e+28, 8.3541723408e+28, 9.6832452132e+28, 5.1264239364e+28, 9.3035101068e+28, 7.974437234399999e+28, 1.46198015964e+29, 8.1643047876e+28, 7.594702128e+28, 1.21515234048e+29, 6.8352319152e+28, 1.5189404256e+28, 1.7088079788e+28, 6.265629255599999e+28, 5.696026596e+28, 7.0250994684e+28, 1.21515234048e+29, 3.2277484044000003e+28, 7.974437234399999e+28, 7.784569681199999e+28, 3.797351064e+27, 8.9237750004e+28, 1.19616558516e+29, 1.1012318085599999e+29, 1.27211260644e+29, 9.6832452132e+28, 8.3541723408e+28, 1.19616558516e+29, 6.0757617024e+28, 1.12021856388e+29, 3.987218617199999e+28, 1.44299340432e+29, 1.36704638304e+29, 1.7467814894399998e+29, 1.12021856388e+29, 2.1075298803e+28, 1.7088079788e+28, 1.4240066489999998e+29, 8.3541723408e+28, 8.3541723408e+28, 1.3100861170799998e+29, 1.1392053192e+29, 1.49995367028e+29, 1.08224505324e+29, 1.02528478728e+29, 1.19616558516e+29, 8.3541723408e+28, 5.696026596e+28, 1.3480596277199998e+29, 7.974437234399999e+28, 8.1643047876e+28, 1.3480596277199998e+29, 9.3035101068e+28, 7.784569681199999e+28, 1.3860331383599998e+29, 4.5568212767999995e+28, 8.9237750004e+28, 8.544039894e+28, 1.46198015964e+29, 1.27211260644e+29, 1.8227285107199998e+29, 4.7466888299999995e+28, 8.733907447199999e+28, 1.3290728724000001e+29, 1.3100861170799998e+29, 1.2341390957999999e+28, 1.78475500008e+29, 8.733907447199999e+28, 1.0442715426e+29, 4.1770861704e+28, 5.1264239364e+28, 1.1581920745199998e+29, 7.974437234399999e+28, 1.3860331383599998e+29, 2.2784106383999997e+28, 4.5568212767999995e+28, 3.2277484044000003e+28, 1.67083446816e+29, 1.5189404256e+29, 1.1392053191999999e+28, 2.848013298e+28, 1.898675532e+28, 5.696026596e+28]

In [ ]:
star_solar_radius_si_unit = []

for data in solar_radius_list:
    si_unit = float(data)* 6.957e+8
    star_solar_radius_si_unit.append(si_unit)

print(star_solar_radius_si_unit)

[1189647000.0, 49394700000.0, 834840000.0, 18088200000.0, 1878390000.0000002, 8348400000.0, 54890730000.00001, 1321830000.0, 660915000000.0, 6470010000.000001, 5983020000.0, 1252260000.0, 6191730000.0, 30610800000.0, 473076000000.0, 5196879000.0, 6122160000.000001, 1252260000.0, 141227100000.0, 5843880000.0, 2156670000.0, 9739800000.0, 6122160000.000001, 1669680000.0, 58438800000.0, 4035060000.0, 2921940000.0, 4730760000.0, 29219400000.0, 4174200000.0, 2365380000.0, 2921940000.0, 13914000000.0, 20871000000.0, 47307600000.0, 139140000000.0, 18088200000.0, 4730760000.0, 90441000000.0, 2365380000.0, 1927089000.0, 64004400000.0, 2295810000.0, 3339360000.0, 2017530000.0, 6957000000.0, 27132300000.0, 34785000000.0, 66091500000.0, 97398000000.0, 194796000000.0, 621260100.0, 848754000.0, 514818000.0, 337414500000.0, 612911700000.0, 30958650000.0, 676220400000.0, 1029636000.0, 556560000000.0, 52873200000.0, 521775000000.0, 462640500.0, 207318600000.0, 2601918000.0, 59134500000.0, 653958000.0, 257409000000.0, 805620600000.0, 354807000.0, 313065000000.0, 973979999.9999999, 2365380000.0, 987894000000.0, 222624000000.0, 264366000000.0, 525253500000.0, 139140000.0, 13914000.0, 104355000.0, 1099206000.0, 22262400000.0, 14679270000.000002, 271323000.0, 10066779000.0, 688743000.0, 146097000.0, 1321830000000.0, 69570000.0, 1113120000000.0, 83484000.0, 59830199.99999999, 59830199.99999999, 139140000.0, 70777296.90900001, 116532317.133, 77926518.81899999, 102948795.50400001, 70062374.71800001, 102233873.31300001, 67202685.954, 67202685.954, 115817394.942, 92939884.83000001, 67202685.954, 102233873.31300001, 70062374.71800001, 70062374.71800001, 115817394.942, 115102472.751, 69347452.527, 69347452.527, 109383095.22299999, 115817394.942, 100804028.93100001, 70777296.90900001, 77211596.628, 90795118.257, 135835216.29, 135835216.29, 69347452.527, 69347452.527, 82216051.965, 118677083.70599999, 67917608.145, 92939884.83000001, 70062374.71800001, 74351907.864, 102233873.31300001, 75066830.055, 270240588.198, 90795118.257, 94369729.212, 67917608.145, 77926518.81899999, 90080196.066, 140839671.627, 69347452.527, 127256149.99800001, 71492219.1, 5147439775.2, 71492219.1, 98659262.358, 69347452.527, 72207141.291, 72207141.291, 100804028.93100001, 107953250.84099999, 70777296.90900001, 72207141.291, 75066830.055, 73636985.673, 70062374.71800001, 67202685.954, 67202685.954, 67202685.954, 73636985.673, 4861470898.8, 67202685.954, 70062374.71800001, 70777296.90900001, 82216051.965, 68632530.336, 71492219.1, 71492219.1, 76496674.437, 70062374.71800001, 67202685.954, 67917608.145, 68632530.336, 67202685.954, 70062374.71800001, 100804028.93100001, 69347452.527, 67202685.954, 76496674.437, 72922063.482, 72207141.291, 71492219.1, 170866403.649, 128685994.38000001, 88650351.684, 68632530.336, 157282882.01999998, 107238328.64999999, 71492219.1, 122251694.661, 67202685.954, 67202685.954, 1787305477.5000002, 70062374.71800001, 70062374.71800001, 70062374.71800001, 72207141.291, 69347452.527, 67202685.954, 71492219.1, 68632530.336, 70777296.90900001, 94369729.212, 75781752.246, 73636985.673, 85075740.729, 70777296.90900001, 107238328.64999999, 92939884.83000001, 75066830.055, 67202685.954, 67202685.954, 72922063.482, 70777296.90900001, 77211596.628, 70777296.90900001, 70062374.71800001, 71492219.1, 67202685.954, 102233873.31300001, 73636985.673, 67202685.954, 67202685.954, 73636985.673, 69347452.527, 67202685.954, 74351907.864, 100089106.74, 69347452.527, 67917608.145, 76496674.437, 72207141.291, 87220507.302, 134405371.908, 68632530.336, 72922063.482, 72922063.482, 109383095.22299999, 86505585.111, 68632530.336, 70777296.90900001, 95084651.403, 100804028.93100001, 70777296.90900001, 67202685.954, 74351907.864, 92224962.63900001, 99374184.549, 113672628.369, 82930974.156, 77926518.81899999, 83645896.347, 300267320.22, 271670432.58, 61483308.426]

In [ ]:
star_masses = star_solar_mass_si_unit
star_radiuses = star_solar_radius_si_unit
star_names = df["Star_name"].tolist()
star_names.pop(0)

star_gravities = []

for index,data in enumerate(star_names):
    gravity = (float(star_masses[index])*5.972e+24) / (float(star_radiuses[index])*float(star_radiuses[index])*6371000*6371000) * 6.674e-11
    star_gravities.append(gravity)

star_gravities

df["Gravity"] = gravity
df

,Unnamed: 0,Star_name,Distance,Mass,Radius,Gravity
0,0,Sun,0.000016,1.000000,1.000000,1.479614e+14
1,1,Sirius,8.600000,2.100000,1.710000,1.479614e+14
2,2,Canopus,310.000000,15.000000,71.000000,1.479614e+14
3,3,Alpha Centauri,4.400000,1.100000,1.200000,1.479614e+14
4,4,Arcturus,37.000000,1.100000,26.000000,1.479614e+14
...,...,...,...,...,...,...
248,248,2MASSI J2356547-155310,74.000000,0.076367,0.112012,1.479614e+14
249,249,WISE 0410+1502,20.000000,0.005728,0.120233,1.479614e+14
250,250,WISE 0458+6434A,35.900000,0.014319,0.431605,1.479614e+14
251,251,WISE 0458+6434B,35.900000,0.009546,0.390499,1.479614e+14
252,252,WISE 1405+5534,25.300000,0.028638,0.088376,1.479614e+14

In [ ]:
df.to_csv("star_with_gravity.csv")